body{
    background-color: aqua;
}

img{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    border-radius: 10px;
}

.container{
    display:grid;
    place-items:center;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    width:20%;
    margin:200px auto auto auto;
    padding:10px;
    
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333;
    text-align: center;
    font-size: 27px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    font-size:15px;
    margin:10px 60px 10px 60px;
    
}

.attribution{
    text-align: center;
    padding: 10px;
    font-size: 20px;

}