*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

h1{
    text-align: center;
    color:#666;
    font-size: 50px;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -3px;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    text-align: center;
    font-size: 15px;
    color:#666;
    margin-top: 10px;
    margin-bottom: 100px;
 
}

h4{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#666;
    letter-spacing: -1px;
    padding:10px
}

p{
    font-size: 20px;
    color:#666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}



.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-item{
    border-radius: 10px;
    background-color: antiquewhite;
    height: 250px;
    padding: 2em;
    width: 350px;
    margin: auto;
    justify-content: center;
}

.flex-item:nth-child(1){
    border-top:solid 5px darkgreen;
    margin:70px 0px 0px 450px;
    background: url(images/icon-supervisor.svg) no-repeat antiquewhite right 10% bottom 10%;


}

.flex-item:nth-child(2){
    border-top:solid 5px darkred;
    margin: -80px 0px 0px 15px;
    background: url(images/icon-team-builder.svg)no-repeat antiquewhite right 10% bottom 10%;
}

.flex-item:nth-child(3){
    border-top:solid 5px goldenrod;
    margin:180px 0px 0px -350px;
    background: url(images/icon-karma.svg)no-repeat antiquewhite right 10% bottom 10%;
}

.flex-item:nth-child(4){
    border-top:solid 5px darkblue;
    margin:70px 100px 10px 15px;
    background: url(images/icon-calculator.svg)no-repeat antiquewhite right 10% bottom 10%;
}


.attribution{
    text-align: center;
    padding: 3em;
}